  {% load static from static %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
  </head>

    <body style="background-color:#2D4A5A; "  >
        <nav class="navbar navbar-light" style="background-color: #15BBA7;">
         <img src="{% static 'img/logo.png' %}" width="450" height="150" alt="">
        <img src="{% static 'img/chole.png' %}" width="450" height="150" alt="">
        </nav>
            <br>
    <br>
    <br>
    <div>
        <input type="date" name="inicio" style=" float: left; background-color: #15BBA7; margin-left: 200px;" id="inicio" value="" placeholder="Ingresar Fecha"></td>
        <form action="{% url 'home' %}">
        <button type="submit" class="btn btn-primary" style=" float: left; background-color: #15BBA7;">Buscar</button>
        </form>
         <form action="{% url 'inicioSesion' %}">
         <button type="submit" class="btn btn-primary" style=" float: left; background-color: #15BBA7; margin-left: 500px;">Iniciar Sesión</button>
         </form>
         <form action="{% url 'registrarMenu' %}">
         <button type="submit" class="btn btn-primary" style="float: left; background-color: #15BBA7; margin-left: 30px;">Registrarse</button>
         </form>
        </div>
    <br>
    <br>
    <br>
     <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
              <div class="portfolio-item-caption-content text-center text-white">
                  <a type="submit" href="{% url 'locales' %}" style="font-size:40px; color: #ffffff; margin-left: 40px; margin-right: 40px;"><u>Locales</u></a>
                  <a type="submit" href="{% url 'musica' %}" style="font-size:40px; color: #ffffff; margin-left: 40px; margin-right: 40px; "><u>Música</u></a>
                  <a type="submit" href="{% url 'bebidas' %}" style="font-size:40px; color: #ffffff;  margin-left: 40px; margin-right: 40px;"><u>Bebidas</u></a>
              </div>
    </div>
        <br>
    <br>
    <br>
        <form class="md-form" action="{% url 'reservas' %}">
            <div class="file-field ">
                <div class="z-depth-1-half mb-4 ">
                   <img src="{% static 'img/add.png' %}" style="margin-left:500px" width="450" height="150" class="img-fluid" alt="example placeholder">
               </div>
            </div>
            <br>
            <div style="width : 500px; height : 50px; margin-left:450px">
              <div class="input-group input-group-lg" >
                 <div class="input-group-prepend" >
                    <span style="background-color:#15BBA7; color:#ffffff " class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                 </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingrese su nombre">
               </div>
            </div>
            <br>
            <div style="width : 500px; height : 50px; margin-left:450px">
              <div class="input-group input-group-lg" >
                 <div class="input-group-prepend" >
                    <span style="background-color:#15BBA7; color:#ffffff " class="input-group-text" id="inputGroup-sizing-sm">Correo</span>
                 </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingrese su correo">
               </div>
            </div>
            <br>
            <div style="width : 500px; height : 50px; margin-left:450px">
              <div class="input-group input-group-lg" >
                 <div class="input-group-prepend" >
                    <span style="background-color:#15BBA7; color:#ffffff " class="input-group-text" id="inputGroup-sizing-sm">Contraseña</span>
                 </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingrese una contraseña">
               </div>
            </div>
            <br>
            <div style="width : 500px; height : 50px; margin-left:450px">
              <div class="input-group input-group-lg" >
                 <div class="input-group-prepend" >
                    <span style="background-color:#15BBA7; color:#ffffff " class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
                 </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingrese su telefono">
               </div>
            </div>
            <br>
            <div style="width : 500px; height : 50px; margin-left:450px">
              <div class="input-group input-group-lg" >
                 <div class="input-group-prepend" >
                    <span style="background-color:#15BBA7; color:#ffffff " class="input-group-text" id="inputGroup-sizing-sm">Dirección</span>
                 </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Ingrese su dirección">
               </div>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" style="background-color: #15BBA7; margin-left: 650px;">Crear servicio</button>
            <br>
            <br>
        </form>

         <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
    </html>